html {
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-weight: 600;
    font-size: larger;
    color: whitesmoke;
    position: fixed;
    width: 100vw;
    margin: 0px;
    background-color: transparent;
    color: white;
    height: 50px;
    z-index: 10;
    opacity: 1;

    ul {
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        height: 50px;
        align-content: center;
        align-items: center;
    }

    li {
        opacity: 1;
        margin-left: 20px;
        margin-right: 20px;
        list-style: none;

        a {
            color: whitesmoke;
            opacity: 1;
            text-decoration: none;
        }
    }

    
}

.side-menu-modal {
    position: relative;
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    border-top: 0px solid transparent;
	border-left: 60px solid #555;
	border-bottom: 60px solid transparent;
    // box-shadow: -5px -5px 10px 1px  grey;
    
    p {
        position: absolute;
        left: -55px;
        top: -2px;
        color: whitesmoke;
        transform: rotate(-45deg);
    }

    .menu-modal {
        position: absolute;
        left: -60px;
        top: 10px;
        display: none;
        width: 200px;
        
        ul {
            
            list-style: none;
            li {
                margin-top: 20px;
                a{
                    font-family: Verdana, Geneva, Tahoma, sans-serif;;
                    font-weight: 600;
                    font-size: larger;
                    color: whitesmoke;
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }   
    }
}

.side-menu-modal:hover .menu-modal{
    display: block;
}

.main-section {
    z-index: 2;
    display: flex;
    flex-direction: row;
    // background-image: url('/pic04.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    background-color: rgb(172, 172, 172);
    // background-image: url(/assets/images/pic02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    
    
    box-sizing: border-box;
    
    .python-logo {
        width: 50px;
        rotate: (20deg);
        position: absolute;
        top:-100px;
        left: 40vw;
        animation-name: rain;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        overflow: hidden;
        z-index: 1;
    }

    .python-logo1 {
        width: 50px;
        rotate: (-60deg);
        position: absolute;
        top:-100px;
        left: 95vw;
        animation-name: rain-diagonal-left;
        animation-timing-function: linear;
        animation-duration: 50s;
        animation-delay: 7s;
        animation-iteration-count: infinite;
        overflow: hidden;
        z-index: 1;
    }

    .javascript-logo {
        width: 50px;
        rotate: (20deg);
        position: absolute;
        top:-100px;
        left: 20vw;
        animation-name: rain;
        animation-duration: 25s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        overflow: hidden;
        z-index: 1;
    }

    .html-logo {
        width: 50px;
        rotate: (20deg);
        position: absolute;
        top:-100px;
        left: 75vw;
        animation-name: rain;
        animation-duration: 15s;
        animation-delay: 4s;
        animation-iteration-count: infinite;
        overflow: hidden;
        z-index: 1;
    }

    .css-logo {
        width: 50px;
        rotate: (-5deg);
        position: absolute;
        top:-100px;
        left: 64vw;
        animation-name: rain;
        animation-duration: 35s;
        animation-delay: 1.5s;
        animation-iteration-count: infinite;
        overflow: hidden;
        z-index: 1;
    }

    .node-logo {
        width: 50px;
        position: absolute;
        top:-100px;
        left: 12vw;
        animation-name: rain-diagonal-left,rotate-logo;
        animation-timing-function: linear;
        animation-duration: 40s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
        overflow: hidden;
        z-index: 1;
    }

    .github-logo {
        width: 50px;
        position: absolute;
        rotate: 12deg;
        top:-100px;
        left: 55vw;
        animation-name: rain;
        animation-duration: 20s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        overflow: hidden;
        z-index: 1;
    }

    .scss-logo {
        width: 50px;
        position: absolute;
        rotate: 34deg;
        top:-100px;
        left: 37vw;
        
        animation-name: rain-diagonal-right,rotate-logo;
        animation-duration: 20s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        
        overflow: hidden;
        z-index: 1;
    }
    
      
    .main-content-wrapper {
        // background-color: rgb(129, 129, 129);
        border-radius: 50px;

        .main-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            z-index: 10;
            flex-wrap: wrap;
            .profile-img {
                box-shadow: 0 0 30px 1px black;
                margin: 50px;
                width: 200px;
                max-height: 200px;
                border-radius: 100%;
                // animation-name: fade-in;
                // animation-duration: 1s;  
                z-index: 9;  
            }
        
            .personal-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                z-index: 10;
        
                h1 {
                    color: white;
                    // font-family: cursive;
                }
                p {
                    color: white;
                    // font-family: cursive;
        
                }
            }
        }
    
        .skill-list{
            color: whitesmoke;
            display: flex;
            align-items: baseline;
            flex-direction: row;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: medium;
            font-weight: 600;
            z-index: 10;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
    
            h3 {
                margin-right: 10px;
                margin-left: 10px;
            }
            .attributes {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                p {
                    margin-left: 15px;
                    margin-right: 15px;
                }

                p:nth-child(1) {
                    color: rgb(75, 139, 190);
                    text-shadow: 1px 1px 0px  black;
    
                }
        
                p:nth-child(2) {
                    color: rgb(240, 219, 79);
                    text-shadow: 1px 1px 0px  black;
    
                }
        
                p:nth-child(3) {
                    color: rgb(228, 77, 38);
                    // text-shadow: 0 1px 10px  black;
                    text-shadow: 1px 1px 0px  black;

    
                }
        
                p:nth-child(4) {
                    color: rgb(205, 103, 153);
                    // text-shadow: 0 1px 10px  black;
                    text-shadow: 1px 1px 0px  black;

    
                }
                
                p:nth-child(5) {
                    color: rgb(8, 1, 53);
                    // text-shadow: 0 1px 10px  black;
                    // text-shadow: 1px 1px 0px  black;

    
                }
                p:nth-child(6) {
                    color: rgb(0, 0, 0);
                    // text-shadow: 0 1px 10px  black;
                    // text-shadow: 1px 1px 0px  black;

    
                }
                p:nth-child(7) {
                    color: rgb(104, 160, 99);
                    // text-shadow: 0 1px 10px  black;
                    text-shadow: 1px 1px 0px  black;

                }
                p:nth-child(8) {
                    color: rgb(0, 117, 143);
                    // text-shadow: 0 1px 10px  black;
                    text-shadow: 1px 1px 0px  black;

                }
                p:nth-child(9) {
                    color: rgb(160, 117, 93);
                    // text-shadow: 0 1px 10px  black;
                    text-shadow: 1px 1px 0px  black;

                }
            }
            
        }
    }
    
    
}

@keyframes rain {
    0% {}
    7% {opacity: 1;}
    100% {top:95vh,;
        opacity:0;}    
}

@keyframes rain-diagonal-right {
    0% {}
    7% {opacity: 1;}
    100% {top:95vh;left:95vw;
        opacity:0;}    
}


@keyframes rain-diagonal-left {
    0% {}
    7% {opacity: 1;}
    100% {top:95vh;left:5vw;
        opacity:0;}    
}

@keyframes rotate-logo {
    100% {rotate:360deg}
}

@keyframes fade-in {
    0% {width: 0%;
        }
}

// first section animation

.project-section{
    z-index: 2;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(201, 201, 201);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    
    .project-card {
        padding: 5px;
        position: relative;
        width: 80vw;
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        justify-content: center;
        border-radius: 10px;
        // overflow: hidden;
        margin-top: 20px;
        h2 {
            
            border-bottom: 1px solid grey;
            margin: 0px;
            text-align: center;
            padding: 10px;
        }
        .card-details {
            display: flex;
            flex-direction: row;
            
            .project-description {

                padding-left: 5px;
                width: 65vw;
                // height: 10vh;

                span {
                    background-color: azure;
                }
            }
            .project-img {
                width: 50%;
                margin-left: 5px;
                overflow: hidden;
                img {
                    border-bottom-right-radius: 10px;                    height: 100%;
                    border-top-right-radius: 10px;                    height: 100%;
                    width: 100%;
                }               
                
            }
        }

    }
 
}

.cv-section {
    width: 100vw;
    height: 100vh;
    background-color: crimson;
}

.contact-me-section {
    width: 100vw;
    height: 100vh;
    background-color: darkred;
}


