html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}

nav {
  font-family: cursive;
  font-weight: 600;
  font-size: larger;
  color: whitesmoke;
  position: fixed;
  width: 100vw;
  margin: 0px;
  background-color: transparent;
  color: white;
  height: 50px;
  z-index: 10;
  opacity: 1;
}
nav ul {
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  height: 50px;
  align-content: center;
  align-items: center;
}
nav li {
  opacity: 1;
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}
nav li a {
  color: whitesmoke;
  opacity: 1;
  text-decoration: none;
}

.main-section {
  z-index: 2;
  display: flex;
  flex-direction: row;
  background-image: url("/pic04.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(7, 7, 48);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.main-section .python-logo {
  width: 50px;
  rotate: 20deg;
  position: absolute;
  top: -100px;
  left: 40vw;
  animation-name: rain;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  overflow: hidden;
  z-index: 1;
}
.main-section .javascript-logo {
  width: 50px;
  rotate: 20deg;
  position: absolute;
  top: -100px;
  left: 20vw;
  animation-name: rain;
  animation-duration: 25s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  overflow: hidden;
  z-index: 1;
}
.main-section .html-logo {
  width: 50px;
  rotate: 20deg;
  position: absolute;
  top: -100px;
  left: 75vw;
  animation-name: rain;
  animation-duration: 15s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  overflow: hidden;
  z-index: 1;
}
.main-section .css-logo {
  width: 50px;
  rotate: -5deg;
  position: absolute;
  top: -100px;
  left: 64vw;
  animation-name: rain;
  animation-duration: 35s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  overflow: hidden;
  z-index: 1;
}
.main-section .node-logo {
  width: 50px;
  position: absolute;
  top: -100px;
  left: 12vw;
  animation-name: rain;
  animation-duration: 40s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  overflow: hidden;
  z-index: 1;
}
.main-section .profile-img {
  box-shadow: 0 0 30px 1px black;
  margin: 50px;
  width: 200px;
  border-radius: 100%;
  z-index: 9;
}
.main-section .personal-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-section .personal-details h1 {
  color: white;
  font-family: cursive;
}
.main-section .personal-details p {
  color: white;
  font-family: cursive;
}

@keyframes rain {
  7% {
    opacity: 1;
  }
  100% {
    top: 95vh;
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    width: 0%;
  }
}
.work-section {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;
}
.work-section .work-section-header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.work-section .work-section-header h3 {
  margin: 0px;
  text-align: center;
}
.work-section .img-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex: 1 1 1 100px;
  width: 100vw;
  height: 80vh;
}
.work-section .img-wrapper .img-container {
  height: 200px;
  width: 200px;
  margin: 10px;
}
.work-section .img-wrapper .img-container img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px grey;
}
.work-section .img-wrapper .overlay {
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  text-align: center;
  margin-top: -200px;
}
.work-section .img-wrapper .overlay button {
  height: 50px;
  width: 100px;
  background-color: darkcyan;
}
.work-section .img-wrapper .img-container:hover .overlay {
  z-index: 1;
  opacity: 1;
}

.cv-section {
  width: 100vw;
  height: 100vh;
  background-color: crimson;
}

.contact-me-section {
  width: 100vw;
  height: 100vh;
  background-color: deeppink;
}

/*# sourceMappingURL=index.css.map */
